* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	background-color: #1a0b2e;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.btn {
	padding: 12px 16px;
	background: linear-gradient(
		to top right,
		#f7e93f,
		#fb09b4,
		#9100f8,
		#9100f8,
		#fb09b4,
		#f7e93f
	);
	border: none;
	border-radius: 50px;
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	background-size: 200% 200%;
	background-position: left bottom;
	transition:
		background-position 0.8s ease-in-out,
		transform 0.4s ease;
}
.btn:hover {
	background-position: right top;
	transform: translateY(-2px);
}
.btn i {
	display: inline-block;
	transition: transform 0.4s ease-in-out;
}

.btn:hover i {
	transform: translateX(5px);
}

/* shared css */

/* Header area start */
#header-area {
	padding: 16px 0;
	border-bottom: 1px solid #412567;
}

#header-area .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header-area .navbar .nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
	list-style: none;
}
#header-area .navbar .nav-links .nav-item .nav-link {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2;
	color: #fff;
}
/* Header area end */
