* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	background-color: #1a0b2e;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.btn {
	padding: 12px 16px;
	background: linear-gradient(
		to top right,
		#f7e93f,
		#fb09b4,
		#9100f8,
		#9100f8,
		#fb09b4,
		#f7e93f
	);
	border: none;
	border-radius: 50px;
	font-size: 1rem;
	font-weight: 600;
	color: #fff;
	cursor: pointer;
	background-size: 200% 200%;
	background-position: left bottom;
	transition:
		background-position 0.8s ease-in-out,
		transform 0.4s ease;
}
.btn:hover {
	background-position: right top;
	transform: translateY(-2px);
}
.btn i {
	display: inline-block;
	transition: transform 0.4s ease-in-out;
}

.btn:hover i {
	transform: translateX(5px);
}

/* shared css */

/* Header area start */
#header-area {
	padding: 16px 0;
	border-bottom: 1px solid #412567;
}

#header-area .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#header-area .navbar .header-logo img {
	width: 100%;
}
#header-area .navbar .nav-links {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 32px;
	list-style: none;
}
#header-area .navbar .nav-links .nav-item .nav-link {
	display: inline-block;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.2;
	color: #fff;
	transition: transform 0.4s ease-in-out;
}
#header-area .navbar .nav-links .nav-item .nav-link:hover {
	transform: scale(1.25);
}
#header-area .navbar .mobile-menu {
	color: #fff;
	display: none;
}
/* Header area end */

/* Banner area start */
#banner-area {
	background: url(../assets/hero-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 100px 0;
}
#banner-area .banner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#banner-area .banner-container .banner-image {
	max-width: 350px;
	margin-bottom: 40px;
	position: relative;
}
#banner-area .banner-container .banner-image .circle-image {
	display: inline-block;
	width: 100%;
}
#banner-area .banner-container .banner-image .mini-image {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#banner-area .banner-container .banner-image .new-btn {
	background-color: #00ff88;
	padding: 8px 16px;
	border: none;
	border-radius: 50px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
	position: absolute;
	top: 15px;
	right: 20px;
}

#banner-area .banner-container .banner-image .new-btn span {
	font-size: 1.125rem;
	font-weight: 600;
	color: #1a0b2e;
	line-height: 1;
	padding-top: 5px;
}
#banner-area .banner-container .banner-content {
	text-align: center;
}
#banner-area .banner-container .banner-content h1 {
	font-size: 3.75rem;
	font-weight: 900;
	color: #fff;
	margin-bottom: 8px;
}
#banner-area .banner-container .banner-content p {
	font-size: 1rem;
	font-weight: 400;
	color: #fff;
	margin-bottom: 24px;
}
#banner-area .banner-container .banner-content .btn-group {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}
#banner-area .banner-container .banner-content .btn-group .btn:last-child {
	background: transparent;
	border: 1px solid #00ff88;
	color: #00ff88;
}
/* Banner area end */

/* Responsive area start */

@media screen and (max-width: 576px) {
	#header-area {
		padding: 16px 20px;
	}
	#header-area .navbar .nav-links {
		display: none;
	}
	#header-area .navbar .btn {
		display: none;
	}
	#header-area .navbar .mobile-menu {
		display: block;
	}
}

/* Responsive area end */
